section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      width: 50%;
      background: #CCC;
      padding: 20px;
      border-radius: 16px;
      box-shadow: 10px 0px 1px #8257e6;
      & + li {
        margin-top: 20px
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #FFF;
        background: #8257e6;
        padding: 10px;
        border-radius: 7px;

      }
    }
  }
}